# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
logs
results
.prettierrc

# Testing
coverage
.env

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
yarn.lock

# dotenv environment variable files
.env
.env.local
.env.*.local

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
