.Hamburger {
  width: 25px;
  height: 25px;
}

/* Admin */
.admin-login-container {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 40px;
}
.admin-login-container img {
  width: 90px;
}

.admin-login-form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgb(90, 179, 228);
  width: 300px;
  height: auto;
  min-height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 10px;
}
.admin-login-form h1 {
  font-size: 22px;
}
.admin-login-form div {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.admin-login-form input {
  padding: 9px;
  border: 1px solid rgb(28, 113, 158);
  font-size: 12px;
  border-radius: 5px;
}
.admin-login-form input::placeholder {
  font-size: 12px;
}
.admin-login-form button {
  background-color: rgb(90, 179, 228);
  color: white;
  border: none;
  height: 39px;
  border-radius: 5px;
  cursor: pointer;
}
.admin-login-form button:hover {
  opacity: 0.8;
}

.Admin-Headers {
  max-height: 120px;
  width: 100%;
  background-color: rgb(42, 121, 186);
  display: flex;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.Admin-Headers img {
  width: 80px;
}
.Admin-Headers div {
  display: flex;
  column-gap: 70px;
  z-index: 15;
}
.Admin-Headers div a {
  cursor: pointer;
  text-decoration: none;
}
.Admin-Headers div a:hover {
  opacity: 1 !important;
}
.Admin-Headers p,
.Admin-Headers a {
  color: white;
}

@media screen and (max-width: 860px) {
  .Admin-Headers div {
    flex-direction: column;
    column-gap: 0;
    row-gap: 10px;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: rgb(50, 93, 128);
    z-index: 20;
  }
  .Admin-Headers img {
    cursor: pointer;
  }
}
.Admin-Products {
  display: flex;
  padding: 40px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Admin-Products-Container {
  width: 100%;
  display: flex;
  column-gap: 29px;
  row-gap: 25px;
  margin-top: 55px;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.CRUD-input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
}
.admin-p-label {
  position: absolute;
  left: 93px;
}
@media screen and (max-width: 500px) {
  .admin-p-label {
    display: none;
  }
  #CRUD-input-price {
    transform: translateX(20px);
  }
  #CRUD-input-name {
    width: 100% !important;
    max-width: 500px;
  }
}
#CRUD-input-description {
  resize: none;
  text-align: center;
  max-height: 330px;
  overflow-y: auto;
  margin-top: 20px;
}
